# =========================
# Environment
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
venv/

# =========================
# Node
# =========================
node_modules/

# =========================
# Docker
# =========================
postgres_data/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Datos dinámicos
# =========================
app_data/